.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.wrapper {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
}
.header-container {
    width: 100%;
    height: 100px;
    background-color: lightblue;
}
.logo-container {
    float: left;
    width: 160px;
}
.main-nav {
    float: left;
    width: 500px;
}
.user-block {
    float: right;
    width: 300px;
}
.cart {
    float: left;
    width: 300px;
}
.first-nav {
    font-size: 0;   
}
.first-nav li {
    font-size: 16px;
}
.first-nav > li {
    display: inline-block;
    vertical-align: top;
}
.second-nav {
    display: none;
    text-decoration: none;
}
.hidden {
    display: none;
}
.product-table {
    display: none;
}
.product-price {
    display: none;
}
.search-dropdown {
    display: none;
}
.big-ice {
    width: 100%;
    height: 400px;
    background-color: green;
}       
.big-ice > * {
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50, -50)
}
.slider-buttons {
    position: absolute;
    top: 100px;
}
.slider-buttons {
    position: absolute;
    top: 500px;
}
.first-promotion {    
    float: left;
    width: 500px;
    background-color: red;
}
.second-promotion {
    float: left;
    width: 500px;
    background-color: blue;
}
.big-hit-1 {
    float: left;
    width: 150px;
    background-color: pink;
}
.big-hit-2 {
    float: left;
    width: 150px;
    background-color: lightblue;
}
.big-hit-3 {
    float: left;
    width: 150px;
    background-color: #eee;
}
.big-hit-4 {
    float: left;
    width: 150px;
    background-color: yellow;
}
.slider-content {
    display: none;
}
#slider-toggle-1:checked ~ .background-view #slider-content-1 {
  display: block;
  background-color: aqua;
}
#slider-toggle-2:checked ~ .background-view #slider-content-2 {
  display: block;
  background-color: lightsalmon;
}
#slider-toggle-3:checked ~ .background-view #slider-content-3 {
  display: block;
  background-color: lightcyan;
}
#slider-toggle-1:checked ~ .background-view {
  background: #eee;
}
#slider-toggle-2:checked ~ .background-view {
  background: blueviolet;
}
#slider-toggle-3:checked ~ .background-view {
  background: red;
}
#slider-toggle-1:checked ~ .background-view [for=slider-toggle-1] {
  background-color:green;
}
#slider-toggle-2:checked ~ .background-view [for=slider-toggle-2] {
  background-color:green;
}
#slider-toggle-3:checked ~ .background-view [for=slider-toggle-3] {
  background-color:green;
}
.slider-toggle-1 {
    width: 10px;
    height: 10px;
    background-color: red;
}
.text-description-1 {
    float: left;
    width: 500px;
    background-color: indianred;

}
.text-description-2 {
    float: left;
    width: 500px;
    background-color: hotpink;
}
.news-container {
    float: left;
    width: 500px;
    background-color: navy;
}
.email-container {
    float: left;
    width: 500px;
    background-color: gold;
}
.feedback-container {
    width: 200px;
    height: 200px;
    background-color: rosybrown;
    margin: 0 left;
}
.wrapper-footer {
    width: 1260px;
    height: 100px;
    background-color: lightcyan;
}
.social-icons {
    float: left;
    width: 200px;
    background-color: peru;
}
.for-suppliers {
    float: left;
    width: 500px;
    background-color: greenyellow;
}
.logo-bottom {
    float: left;
    width: 400px;
    background-color: honeydew;
}