.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.hidden {
    display: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
}
ul {
    padding-left: 0;
    list-style: none;
}
button {
    cursor: pointer;
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    opacity: 0.988;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.wrapper {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
    background-color: red;
}

/* ------HEADER------- */

.header-container {
    width: 100%;
    height: 115px;
}
.logo-container {
    float: left;
    width: 160px;
    padding-top: 10px;
}
.main-nav {
    float: left;
    width: 500px;
    padding-top: 23px;
}
.first-nav {
    font-size: 0;
    padding: 0; 
}
.first-nav li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    padding-left: 26px;
}
.first-nav a {
    text-decoration: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;

}

/*--------------------USER BLOCK-------------------------*/

.user-block-wrapper {
    float: right;
    width: 333px;
    padding-top: 15px;

/*УТОЧНИТЬ КОРРЕКТНОСТЬ ПОДГОНА РАЗМЕРОВ С ПОМОЩЬЮ КОНТЕЙНЕРА ТЕКСТА*/

}
.user-block {
    vertical-align: top;
    font-size: 0;
    padding: 0;
}
.user-block li {
    display: inline-block;
    vertical-align: top;
    height: 30px;   
    margin-left: 30px;
}
.user-block a {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 150px;
    background-color: rgba(255, 255 , 255, 0.4);
    font-size: 14px;
    border-radius: 30px;
    color: #ffffff;
    text-decoration: none;
}
.user-text {
    display: inline-block;
    position: relative;
    bottom: 10px;
}

/*УТОЧНИТЬ КОРРЕКТНОСТЬ РАСПОЛОЖЕНИЯ ТЕКСТА*/

.user-block div {
    position: relative;
    margin-left: 10px;
}
.user-block li:first-child div {
    margin: 0;
}
.icon-position {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.user-block li:first-child a {
    width: 30px;
}
.user-block li:nth-child(2) a {
    width: 93px;
}
.user-block li:nth-child(3) a {
    width: 120px;
}

/*УТОЧНИТЬ КОРРЕКТНОСТЬ ЗАДАНИЯ РАЗМЕРОВ ПОЛЕЙ ТЕКСТА*/


.search-icon-container {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.enter-icon-container {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.cart-icon-container {
    display: inline-block;
    width: 30px;
    height: 30px;
}

/*-------------------CONTACT AREA---------------------*/

.contacts-area {
    width: 200px;
    height: 30px;
    margin-left: auto;
    clear: both;
}
.contact-style {
    margin: 0;
    /*margin-top: -20px;*/
    text-align: right;
    font-weight: bold;
}

/*УТОЧНИТЬ КОРРЕКТНОСТЬ ЗАДАНИЯ ОТРИЦАТЕЛЬНОГО МАРДЖИНА*/


.contact-telephone {
    font-size: 22px;
}

/* ---------MAIN----------- */

.slider {
    position: relative;
    width: 1146px;
    height: 520px;  
}
.slider-buttons {
    position: absolute;
    bottom: 45px;
    left: 0;
    font-size: 0;
}
.slider-buttons label {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 14px;
    margin: 5px;
}
.slider-content {
    position: relative;
    width: 800px;
    top: 270px;
    margin: 0 auto 0 auto;
    text-align: center;
}
.slider-content h2 {
    margin: 0;
    color: #ffffff;
    font-size: 56px;
}
.slider-content button {
    width: 273px;
    height: 68px;
    margin-top: 30px;
    background-color: rgb(239, 94, 63);
    border: 0 solid #ffffff;
    border-radius: 30px;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    outline: none;
}
.slider-content {
    display: none;
}
#slider-toggle-1:checked ~ .background-view #slider-content-1 {
  display: block;
}
#slider-toggle-2:checked ~ .background-view #slider-content-2 {
  display: block;
}
#slider-toggle-3:checked ~ .background-view #slider-content-3 {
  display: block;
}
#slider-toggle-1:checked ~ .background-view {
  background: #849d8f;
}
#slider-toggle-2:checked ~ .background-view {
  background: #8996a6;
}
#slider-toggle-3:checked ~ .background-view {
  background: #9d8b84;
}
#slider-toggle-1:checked ~ .background-view .wrapper {
  background: url("../photo/1-ice-2.png") no-repeat 82px 0;
}
#slider-toggle-2:checked ~ .background-view .wrapper {
  background: url("../photo/2-ice-2.png") no-repeat 82px 0;
}
#slider-toggle-3:checked ~ .background-view .wrapper {
  background: url("../photo/3-ice-2.png") no-repeat 82px 0;
}
#slider-toggle-1:checked ~ .background-view [for=slider-toggle-1] {
  background-color: #ffffff;
}
#slider-toggle-2:checked ~ .background-view [for=slider-toggle-2] {
  background-color: #ffffff;
}
#slider-toggle-3:checked ~ .background-view [for=slider-toggle-3] {
  background-color: #ffffff;
}


/*---------PROMOTIONS----------*/

.promotion {
    float: left;
    position: relative;
    width: 560px;
    height: 230px;
    border-radius: 15px;
    margin-top: 10px;
}
.promotion h3 {
    font-size: 35px;
    margin: 15px 0 20px 15px;
}
.promotion p {
    font-size: 18px;
    margin: 15px;
}
.first-promotion {    
    background: url("../photo/crimson.png"), salmon;
}
.second-promotion {
    background: url("../photo/chocolate.png"), brown;
    margin-left: 25px;
}  
.button-want {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 170px;
    height: 45px;
    background-color: #e74f37;
    border: 0 solid black;
    border-radius: 30px;
    color: #ffffff;  /*--------Почему не распространяется цвет от боди----------*/
}

/*---------BIG-HITS----------*/

.hits-container {
    margin: 40px 0;
}
.big-hit {
    float: left;
    position: relative;
    width: 270px;
    height: 300px;
    margin-left: 20px;
}
.big-hit:first-child {
    margin: 0;
}
.big-hit p {
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
}
.small-hit {
    position: absolute;
    width: 61px;
    height: 61px;
    top: 10px;
}
.hit-price {
    position: absolute;
    width: 157px;
    height: 39px;
    bottom: 50px;

}

/*---------DESCRIPTION--------- -->*/

.description {
    width: 100%;
    height: 305px;
    padding: 20px;
    box-sizing: border-box;
    background: url("../photo/waffle.png"), beige;
    border-radius: 15px;
    color: black;
}
.description h3{
    margin: 0;
    font-size: 24px;
}
.text-description {
    font-size: 0;
    margin: 0 auto;
}
.text-description li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    width: 475px;
    margin: 15px 20px 15px 50px;
    font-size: 16px;
}
.text-description li:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    left: -60px;
    top: 0;
    background: url(../photo/ice-cream.png) no-repeat;
}
.text-description li:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    left: -60px;
    top: 0;
    background: url(../photo/cow.png) no-repeat;
}
.text-description li:nth-child(3)::after {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    left: -60px;
    top: 0;
    background: url(../photo/leaf.png) no-repeat;
}
.text-description li:nth-child(4)::after {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    left: -60px;
    top: 0;
    background: url(../photo/temperature.png) no-repeat;
}
.text-description p {
    margin: 0;
}

/*---------EMAIL-BLOCK-NEWS--------- -->*/

.news-email {
    float: left;
    position: relative;
    width: 560px;
    height: 230px;
    border-radius: 15px;
    margin: 40px 0;
    color: black;
}
.news-container {    
    background: url("../photo/strawberry.png") no-repeat;
}
.news-container p {
    margin: 15px 0 5px 20px;
}
.news-container p:nth-child(3) {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0;
}
.email-container {
    background: url("../photo/subscribe.png") no-repeat;
    margin-left: 25px;
    font-size: 18px;
}
.email-container p {
    margin: 15px 0 5px 20px;
}
#sub {
    width: 150px;
    height: 45px;
    background-color: #e74f37;
    color: #ffffff;
    border: 0 solid black;
    border-radius: 20px;
    margin: 0 10px;
}
#email {
    width: 360px;
    height: 40px;
    margin-left: 10px;
    border: 1 solid grey;
    border-radius: 7px;
    color: grey;
    padding-left: 10px;
}


/* ------MAP------- */

.map-container {
    position: relative;
    width: 1200px;
    height: 430px;
    margin-left: -30px;
    background: url("../photo/pin.png") no-repeat;
}
.feedback-container {
    position: absolute;
    right: 25px;
    top: 65px;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    color: black;
    border-radius: 15px;
    padding-left: 10px;
}
.feed-back-button {
    width: 250px;
    height: 45px;
    margin: 0 20px;
    background-color: #e74f37;
    color: #ffffff;
    border: 0 solid black;
    border-radius: 20px;
}

/* ------FOOTER------- */

.wrapper-footer {
    height: 60px;
    padding: 10px;
}
.social-icons {
    font-size: 0;
    float: left;
    width: 300px;
}
.social-icons li {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin: 5px;
}
.logo-bottom {
    float: right;
    width: 125px;
}
.logo-bottom  > * {
    margin: 0;
}
.logo-bottom p {
    font-size: 8px;
}
.for-suppliers {
    float: left;
    width: 500px;
    font-size: 0;
}
.for-suppliers li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 200px;
    font-size: 14px;
}
.for-suppliers a {
    text-decoration: underline;
    color: #ffffff;
}
.for-suppliers li:first-child::before {
    content: "";
    display: block;
    position: absolute;
    height: 25px;
    width: 25px;
    left: -30px;
    bottom: -3px;
    background: url(../photo/heart-icon.png) 50% no-repeat;
}